/*
* The stylesheet for the Read More About section.
*
* Author: Jacob Martella
* Package: Read More About
* Version: 1.5
*/
.read-more-about {
	width: 240px;
	position: relative;
	margin: 10px 0px;
	padding: 10px 5px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(97,97,97,0.26);
	-moz-box-shadow: 0px 0px 5px 0px rgba(97,97,97,0.26);
	box-shadow: 0px 0px 5px 0px rgba(97,97,97,0.26);
}
.read-more-about.light {
	background-color: #FFFFFF;
}
.read-more-about.dark {
	background-color: #252525;
}
.left {
	float: left;
	margin-right: 10px;
}
.center {
	margin: auto;
	width: 100%;
}
.right {
	float: right;
	margin-left: 10px;
}
.read-more-about .title {
	font-size: 28px;
	margin: 0px;
	margin-bottom: 15px;
}
.read-more-about.light .title {
	color: #000000;
}
.read-more-about.dark .title {
	color: #FFFFFF;
}
.photo {
	width: 220px;
	height: 110px;
	margin: auto;
	overflow: hidden;
}
h3.story-title {
	line-height: 1em !important;
	margin-top: 5px;
}
.story-title a {
	font-size: 20px;
}
.light .story-title a {
	color: #000000 !important;
}
.dark .story-title a {
	color: #FFFFFF !important;
}

.read-more-about-widget {
	width: 100%;
	background-color: transparent;
}
.read-more-about-widget .left {
	float: left;
	margin-right: 10px;
}
.read-more-about-widget .center {
	margin: auto;
	width: 100%;
}
.read-more-about-widget .right {
	float: right;
	margin-left: 10px;
}
.read-more-about-widget .story {
	margin-bottom: 10px;
}
.read-more-about-widget .story:last-child {
	margin-bottom: 0;
}
.read-more-about-widget .photo {
	width: 100%;
	height: auto;
}
.read-more-about-widget h3.story-title {
	line-height: 1em !important;
	margin-top: 5px;
}
.read-more-about-widget .story-title a {
	font-size: 20px;
}